

#success{
    width: 349px;
    height: 95px;
    margin: auto;
    padding: 0px;

    background: rgba(76, 238, 60, 0.28);

    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: inherit;
    text-decoration: inherit;
    text-align: center;

    line-height: 3.1em;
    letter-spacing: 0.205em;
    -moz-box-shadow:  0px 14px 57px 1px rgb(155, 155, 155);
    -webkit-box-shadow:  0px 14px 57px 1px rgb(155, 155, 155);
    box-shadow:  0px 14px 57px 1px rgb(155, 155, 155);
}
#error{
    width: 349px;
    height: 95px;
    margin: auto;
    padding: 0px;

    background: rgba(250, 79, 60, 0.28);

    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: inherit;
    text-decoration: inherit;
    text-align: center;

    line-height: 3.1em;
    letter-spacing: 0.205em;
    -moz-box-shadow:  0px 14px 57px 1px rgb(155, 155, 155);
    -webkit-box-shadow:  0px 14px 57px 1px rgb(155, 155, 155);
    box-shadow:  0px 14px 57px 1px rgb(155, 155, 155);
}